* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITY CLASSES */
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
[class*="col-"] {
  padding: 0 7px;
}

/* /UTILITY CLASSES */

body {
  background-color: #333;
  color: white;
  font-family: "GothamPro";
  font-size: 0.9rem;
  font-weight: 600;
}
.wrapper {
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
#site_content{
  height: calc(100% - 100px);
}

/* SIDEBAR */
aside.main_menu {
  min-width: 250px;
  width: 250px;
  background-color: #000000;
  flex-direction: column;
  justify-content: space-between;
}
.logo {
  padding: 20px 0 0 20px;
  cursor: pointer;
}
.logo img.small{
  display: none;
  }
.logo > img {
  width: 70%;
}
.main-top a, .main-bottom a {
  width: fit-content;
}
.main-top li img {
  width: 30px;
}
.main-top li a {
  color: #a3a3a3;
  display: flex;
  align-items: center;
}
.home {
  margin: 30px 0;
  position: relative;
}
.home li a {
  padding-left: 20px;
  height: 45px;
}
/* HOME HOVER */
.home li a:hover{
  color: white;
}
.home li:hover{
  transform: scale(1);
}
.home li a::after{
  position: absolute;
  content: '';
  height: 45px;
  left: 0;
  bottom:0;
  border-left: 4px solid #adff2f;
  visibility: hidden;
}
.home li a:hover::after{
  visibility: visible;
}
/* /HOME HOVER */

.home span {
  margin-left: 10px;
}
.playlist h5 {
  font-size: 1.0rem;
  font-weight: 600;
  margin-bottom: 15px;
  margin-left: 20px;
}
.crea-playlist, .nome-playlist {
  margin-left: 20px;
}
.crea-playlist .fas {
  font-size: 40px;
  color: #a3a3a3;
}
.crea-playlist a {
  display: flex;
  align-items: center;
}
.crea-playlist a:hover .fas, .crea-playlist a:hover span {
  color: white;
}
.crea-playlist span {
  color: #a3a3a3;
  margin-left: 10px;
  font-size: 1rem;
}
.nome-playlist ul li {
  margin: 20px 0;
}
.nome-playlist li a:hover {
  color: white;
}
.main-bottom {
  padding: 20px 20px 0;
}
.installa a {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #a3a3a3;
}
.installa a:hover {
  color: white;
}
.installa img {
  height: 15px;
  margin-right: 10px;
}
.username {
  border-top: 1px solid #a3a3a3;
  padding: 15px 15px 10px 0;
}
.username a {
  display: flex;
  align-items: center;
}
.username span {
  font-size: 1.0rem;
  font-weight: 600;
  color: white;
}
.username img {
  width: 25px;
  height: 25px;
  background-color: #a3a3a3;
  border-radius: 100%;
  margin-right: 10px;
}
/* /SIDEBAR */

/* COVERS SECTION */
.covers_section {
  background-color: #141922;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 100px;
  width: calc(100% - 250px);
}
.subscribe_banner {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  height: 100px;
  background-color: #00000087;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}
.subscribe {
  font-size: 0.8rem;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 22px 38px;
  text-align: center;
  display: inline-block;
  margin-right: 25px;
  border-radius: 25px;
  height: 35px;
  line-height: 0px;
  cursor: pointer;
}
.subscribe:hover{
  transform: scale(1.1);
}
nav{
  justify-content: center;
}
/* NAV HOVER*/
nav a {
  margin: 25px 15px;
  color: #a3a3a3;
  font-size: 0.8rem;
  position: relative;
}
nav a:hover{
  transform: scale(1.2);
}
nav a span::after{
  position: absolute;
  content: '';
  clear: both;
  display: table;
  width: 40px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 3px solid #adff2f;
  visibility: hidden;
}
nav a span:hover::after{
  visibility: visible;
}
/* /NAV HOVER */

/* RECENTLY PLAYED SECTION */
.covers_section h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 15px;
}

/* OVERLAY */
.card{
  position: relative;
}
.plus_item{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 17px);
  color: white;
  background-color: black;
  opacity: 0;
}
.overlay:hover{
  opacity: 0.9;
  cursor: pointer;
}
.plus_item .fa-play-circle{
  font-size: 50px;
}
/* /OVERLAY */
.item {
  text-align: center;
  margin: 30px 0;
}

.item img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
}

.item h4 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 7px;
}

.item p {
  color: #a3a3a3;
  font-size: 0.7rem;
  font-weight: 500;
}

.subtitle {
  margin-top: 10px;
  color: #a3a3a3;
  font-size: 0.75rem;
  font-weight: 500;
}

.popular img{
  border-radius: 50%;
}
.popular .overlay{
  border-radius: 49%;
}

/* /COVERS SECTION */

/* FOOTER */
#site_footer {
  background-color: #282828;
  height: 100px;
}
.player {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.track {
  width: 250px;
  justify-content: space-between;
  padding-left: 15px;
}
.track-title{
  margin-left: 15px;
  font-weight: 100;
}
.track-title h4:hover,.track-title p:hover{
  text-decoration: underline;
  cursor: pointer;
}
.track-title p{
  margin-top: 5px;
  color: #a3a3a3;
}

.track-cover {
  align-items: center;
}

.track-cover img {
  height: 50px;
}
.track-cover img:hover{
  cursor:pointer;
}

.track-fav {
  align-items: center;
}

.track-fav i {
  font-size: 1rem;
  margin: 0 6px;
  color: #a3a3a3;
}
.track-fav i:hover {
  color: white;
}

.play {
  flex-flow: column;
  width: 40%;
  justify-content: space-around;
}

.play i {
  font-size: 1.1rem;
  margin: 0 15px 15px;
  color: #a3a3a3;
}
.play i:hover {
  color: white;
}

.play-controls {
  justify-content: center;
  align-items: center;
}

.play-controls>i.far.fa-play-circle {
  font-size: 2rem;
}
.play-controls>i.far.fa-play-circle:hover{
  transform: scale(1.1);
}
.timebar {
  flex-flow: row;
  align-items: center;
}
.timebar span{
  font-size: 0.8rem;
}
.timebar .cursor {
  width: 100%;
  background-color: gray;
  height: 5px;
  border-radius: 10px;
  margin: 0 20px;
}
.timebar .cursor-overlay {
  width: 25%;
  background-color: lightgray;
  height: 5px;
  border-radius: 10px;
}
.controls {
  width: 250px;
  align-items: center;
}
.controls i {
  margin: 0 10px;
  font-size: 1rem;
  color: #a3a3a3;
}
.controls i:hover {
  color: white;
}
.controls .cursor {
  width: 100%;
  background-color: gray;
  height: 5px;
  border-radius: 10px;
  margin: 0 20px 0 5px;
}
.controls .cursor-overlay {
  width: 25%;
  background-color: lightgray;
  height: 5px;
  border-radius: 10px;
}
/* /FOOTER */
